.pause-section {
    width: 100%;
    height:90vh;
}
.course-video {
    width:100%;
    height:90vh;
}
.banner-content-complete-white {
    background: #ffffff;
    box-shadow: 0px 5px 40px 5px rgba(0, 0, 0, 0.25);
    width: 20rem;
    height: 30rem;
    position: relative;
    top: -33rem;
    left: 23rem;
    z-index: 1;
    text-align: center;
    justify-content: center;
    align-content: center;
    display: block;
    color: #000000;
    border-radius: 9px;
}
.mask-image-complete {
    width: 9rem;
    height: 9rem;
    margin-bottom: 1rem;
}
.curv-image-complete {
    position: absolute;
    top: 4.2rem;
    left: 4rem;
    width: 12rem;
    height: 10.3rem;
}
.complete-activity {
    padding-top: 2rem;
    padding-bottom: 1.4rem;
}
.complete-percent {
    padding-top: 1rem;
    padding-bottom: 1.7rem;
}
.just-completed {
    padding-bottom: 0.4rem;
}
.activity-join {
    padding-bottom: 1.7rem;
}
.complete-cancel {
    padding-top: 1.4rem;
    cursor: pointer;
}
.progress-button-center {
    position: relative;
    top: 0.8rem;
    left: 2.3rem;
    font-size: 2.7rem;
    color: #ffffff;
}
.transparent-background {
    background: rgba(255, 199, 0, 0.5);
    height: 3rem;
    position: relative;
    top: -33.4rem;
    opacity: 0.9;
}
.lesson-button {
    font-size: 1.3rem;
    width: 14rem;
    height: 4rem;
    padding: 1rem;
    color: #ffffff;
    background: linear-gradient(90deg, #FF00B8 0%, #FF655B 50%, #FFC700 100%);
    border-radius: 13px;
    cursor: pointer;
}
.time {
    font-size: 1rem;
    position: relative;
    left: 0.9rem;
    bottom: 0.3rem;
    color: #ffffff;
    opacity: 1;
}
.progress-horizontal-line {
    height: 10%;
    border: none;
    width: 70%;
    background-color: #A60067;
}
.progress-circle {
    position: relative;
    left: 2.5rem;
    bottom: 0.3rem;
    color: #ffffff;
}
.progress-horizontal {
    position: relative;
    left: 9rem;
    bottom: 1.7rem;
    width: 70%;
    height: 0.2rem;
    background-color: #ffffff;
}
.progress-speaker {
    position: relative;
    left: 56rem;
    top: -2.7rem;
    color: #ffffff;
    font-size: 1.8rem;
}
.progress-setting{
    position: relative;
    left: 57rem;
    top: -2.7rem;
    color: #ffffff;
    font-size: 1.8rem;
}
.progress-expand {
    position: relative;
    left: 58rem;
    top: -2.7rem;
    color: #ffffff;
    font-size: 1.8rem;
}



