.crypto-body {
    background: #151371;
    display: grid;
    grid-template-columns: 0.2fr 1fr;
}
.progress-arrow {
    align-content: center;
    justify-content: space-between;
    display: flex;
    padding: 1.2rem 2rem;
    font-style: normal;
    font-size: 2rem;
    color: #FFFFFF;
    cursor: pointer;
}
.progress {
    margin-left: 12rem;
}
.progress-card {
    align-content: center;
    justify-content: space-between;
    display: flex;
    width: 38rem;
    height: 7rem;
    color: #FFFFFF;
    margin-bottom: 2rem;
    padding: 1rem;
    border-radius: 12px;
    box-shadow: 0px 5px 40px 5px rgba(0, 0, 0, 0.25);
    background: linear-gradient(110.62deg, rgba(255, 255, 255, 0.25) 6.39%, rgba(255, 255, 255, 0) 53.34%);
}
.progress-complete-button {
    background: #00AA4F;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    width: 7rem;
    height: 1.5rem;
    font-family: Red Hat Display;
    font-style: normal;
    font-size: 0.7rem;
    color: #FFFFFF;
    cursor: pointer;
}
.progress-inprogress-button {
    background: #FF655B;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    width: 7rem;
    height: 1.5rem;
    font-family: Red Hat Display;
    font-style: normal;
    font-size: 0.7rem;
    color: #FFFFFF;
    cursor: pointer;
}
.progress-start-button {
    background: #FFFFFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    width: 7rem;
    height: 1.5rem;
    font-family: Red Hat Display;
    font-style: normal;
    font-size: 0.7rem;
    color: #000000;
    cursor: pointer;
}
.progress-image {
    width: 8rem;
    height: 5rem;
}
.progress-card-h3{
    float: right;
    padding: 1.4rem;
}
.crypto-sidebar {
    padding-left: 2rem;
    display: block;
    justify-content: space-between;
    align-content: center;
    overflow-y: scroll;
    width: 250px;
}
.crypto-sidebar-list {
    margin-top: 3rem;
    list-style: none;
}
.crypto-sidebar-list li {
    font-family: Red Hat Display;
    font-style: normal;
    font-weight: 500;
    font-size: 1.2rem;
    line-height: 92.3%;
    color: #FFFFFF;
    padding: 0.8rem;
}
.crypto-list-li {
    padding-left: 6rem;
}
.crypto-sidebar-list li:first-child {
    font-size: 1.3rem;
}
.sidebar-fontawsome {
    color: #00AA4F;
    padding-right: 0.6rem;
    font-size: 1.6rem;
}
.sidebar-fontawsome-lastchild {
    padding-right: 0.6rem;
    font-size: 1.6rem;
}